/* -- Applies too all the page --*/
body {
  font-family: 'Russo One', sans-serif;
  padding-top: 75px;
  min-width: 315px;
}


/* ---- Navbar --- */
.navbar {
  border-bottom: 3px solid rgb(19, 18, 18); 
  background-color: #b4cfe2;
}


/* -- Jumbotron -- */
.jumbotron {
  background: no-repeat center url("images/wave3.png");
  background-size: cover;
  background-position: center;
  padding-top: 150px;
  padding-bottom: 150px;
  margin-bottom: 0;
}

.intro-body {
  text-align: left;
  padding-bottom: 0;
  margin-bottom: 0;
}

.skills-icons {
  padding-top: 50px;
  max-width: 100%;
}


/* -- About Me Section --- */
.about {
  background-color: #b4cfe2;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 100px;
  border-top: 3px solid rgb(19, 18, 18);
}

.aboutme-head {
  padding-top: 100px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 5rem;
}

.hobbies-head {
  padding-top: 60px;
  padding-bottom: 40px;
  text-align: center;
}

.bio {
  padding-left: 10%;
  padding-right: 10%;
}

.intmhobbs {
  max-width: 100%;
}


/* --- Projects Section --- */
.projects-head {
  position: relative;
  top:50px;
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 5rem;
}

.projects {
  border-top: 3px solid rgb(19, 18, 18);
  background-color: #105d94;
}

.project-desc-div {
  position: absolute;
  bottom: -15px;
  left: 5%;
  right: 5%;
  transform: translateY(-50%);
}

.project-description {
  color: black;
  text-align: center;
}


/* ------------------------- CSS FOR THE ------------------------- */
/* -------------------------- CAROUSEL --------------------------- */

.card-carousel-div {
  position: relative;
  border-top: 3px solid rgb(19, 18, 18);
  height: 1040px;
  background: no-repeat center url("images/wave1.png");
  background-size: cover;
  background-position: center;
}

#carousel {
  position: relative;
  height: 400px;
  top: 30%;
  transform: translateY(-50%);
  overflow: hidden;
  max-width: 100%;
}

#carousel div {
  position: absolute;
  transition: transform 1s, left 1s, opacity 1s, z-index 0s;
  opacity: 1;
}

#carousel div img {
  width: 400px;
  transition: width 1s;
}

#carousel div.hideLeft {
  left: 0%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}

#carousel div.hideLeft img {
  width: 200px;
}

#carousel div.hideRight {
  left: 100%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}

#carousel div.hideRight img {
  width: 200px;
}

#carousel div.prev {
  z-index: 5;
  left: 30%;
  transform: translateY(50px) translateX(-50%);
}

#carousel div.prev img {
  width: 300px;
}

#carousel div.prevLeftSecond {
  z-index: 4;
  left: 15%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}

#carousel div.prevLeftSecond img {
  width: 200px;
}

#carousel div.selected {
  z-index: 10;
  left: 50%;
  transform: translateY(0px) translateX(-50%);
}

#carousel div.next {
  z-index: 5;
  left: 70%;
  transform: translateY(50px) translateX(-50%);
}

#carousel div.next img {
  width: 300px;
}

#carousel div.nextRightSecond {
  z-index: 4;
  left: 85%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}

#carousel div.nextRightSecond img {
  width: 200px;
}


/* -- Carousel Button --- */
.buttons {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 18%;
  z-index: 100;
} 

#prev,
#next {
  border: 1px solid black;
}


/* --- Contacts Section --- */

.contacts-div {
  border-top: 3px solid rgb(19, 18, 18);
  background-color: #105d94;
  height: 600px;
}


/* ---- Media Queries --- */
@media (max-width: 335px) {
  /* -- Carousel Button --- */
  .buttons {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
    z-index: 100;
    width: 180px
  } 

  .project-description {
    display: none;
  }

  #prev,
  #next {
    border: 1px solid black;
    padding-left: 10%;
  }

  .projects-head {
    font-size: 4rem;
  }

  .intro-head {
    font-size: 4rem;
  }

  .selected {
   
  }
}